*.dcu
*.~1~
*__history/
*__recovery/
*.dproj.local
*.identcache
*.bak
src/2D/Fcc/Dokumentasi.zip
bin/2D/bin/BridgeSet.ini
bin/2D/bin/Bridge.exe
bin/2D/bin/Bridge.exe

bin/2D/bin/SystemServer.log
bin/2D/bin/SystemServer.exe
bin/2D/bin/BridgeSet.ini
bin/2D/bin/FiringSystemInst.exe
bin/2D/bin/Bridge.exe
bin/2D/bin/Bridge.exe
bin/2D/bin/SystemServer.exe
bin/2D/bin/SystemServer.log
bin/2D/bin/debug.log
bin/2D/bin/runtimes/win-x64/native/libcef.dll
